


.l-cart {
  display: flex;
  min-height: 500px;
  max-width: 70vw;
  margin: 4rem auto 1rem auto;
}

.l-subtotals {
  flex-basis: 30vw;
  // width: 50%;
  padding: 2rem;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.l-total {
  flex-basis: 20vw;
  padding: 2rem;
  // width: 50%;
}

.b-cartItem {
  display: flex;
  flex-basis: 30vw;
}

.b-cartItem__info {
  padding: 1rem;
}
