.cartCardStyle {
  height: 150px;
  border: 1px solid #CCC;
}

.cartImageStyle {
  height: 150px;
  float: left;
  display: inline-block;
}

.thumbnailImage {
  height: $prodList-img-thumbnail-height;
  width: $prodList-img-thumbnail-width;
}

.cartItemInfo {
  padding: 1rem;
  display: inline-block;
}

.cartCardHours {

}

.cartCardTotal {

}
