/*THIS IS WHERE YOU SET GLOBAL STYLES*/

/*EXAMPLE vvvvv*/

* {
  box-sizing: border-box;
}

body {
  background: $secondary-bg-color;
  color: $body-font-color;
  margin: 10vw 2vw 0 2vw;
  padding: 0;
  max-width: 100vw;
  min-height: 100vh;
}
