/*THIS IS WHERE YOU SET GLOBAL STYLES*/

/*EXAMPLE vvvvv*/

body {
  margin: 0;
  padding: 0;
  background-color: $body-bg-color;
  color: $body-font-color;
  max-width: 100vw;
  min-height: 100vh;
}
