/* GLOBAL VARIABLES GO HERE */

$body-bg-color: #F2F2F2;
$body-font-color: #372C44;
$comic-font: "Bangers";



/*This is where you can define your personal variables!*/


/*PRODUCT LIST VARIABLES */
$prodList-bg-color: lightgrey;
$prodList-img-thumbnail-height: 150px;
$prodList-img-thumbnail-width: 150px;
