/* GLOBAL VARIABLES GO HERE */

/* COLORS */
$body-bg-color: #FFF;
$secondary-bg-color: #FAFAFA;
$vintage: #D4D2B6;

$body-font-color: #452B34;
$secondary-font-color: #4E3D59;
$invert-font-color: #FEFEE7;

$main-link-color: #4A4A4A;

$accent-orange: #FFB300;
$accent-teal: #88D1CA;
$accent-red: #E71300;
$accent-blue: #008DE9;


/* TYPE */
$comic-font: "Bangers";
$secondary-font: "Roboto";


/* TYPE SIZES */
/* comic font */
$small-title: 2rem;
$small-info: 1.25rem;

$large-title: 6rem;
$large-info: 1.75rem;

$text: 1rem;
$large-text: 1.25rem;

/* label font */
$small-info-label: 1rem;


/*PRODUCT LIST VARIABLES */
$prodList-bg-color: lightgrey;
$prodList-img-height: 200px;
$prodList-img-width: 200px;

/*PRODUCT IMAGE VARIABLES */
$product-image: 300px;
