/* GLOBAL VARIABLES GO HERE */

$body-bg-color: #F2F2F2;
$body-font-color: #372C44;
$comic-font: "Bangers";
$subhead-font: "Oswald";


/* TYPE SIZES */

$small-title: 32px;
$small-info-header: 16px;
$small-info: 20px;


/*PRODUCT LIST VARIABLES */
$prodList-bg-color: lightgrey;
$prodList-img-height: 150px;
$prodList-img-width: 150px;
